<!--FileName: "product.ejs"
//Name: "Ashley Turnbull"
//Student ID: 301190323
//Date: 2021-10-03
//Product Section -->

<div class="row">
<div class="col-md-6" style="float: left; padding-left: 80px;">             <!-- Should add the padding to the css-->
    <div style="padding-left: 40px; padding-top: 40px;">
        <div class="card" style="width: 18rem; border-color: black;">
            <div class="card-body">
            <h5 class="card-title">Website Development</h5>
            <p class="card-text">A friend and I developed websites on the side for fun and for some extra pocket money, the link will take you to some of the websites we created</p>
            <a target="_blank" href="https://www.rubixdevelopment.co.za/our-work.html" class="btn btn-primary">Go to website Info</a>       <!-- Link in new tab to hosted websites-->
            </div>
        </div>
    
    <div class="card text-center" style="width: 18rem; border-color: black;">           
        <div class="card-body">
        <h5 class="card-title">BlackJack Online Game</h5>
        <p class="card-text">As part of a test when joining a company I was asked to create a simple blackjack game, if you click the link below you will be able to play the game I created</p>
        <a target="_blank" href="https://myblackjackgame.rubixdevelopment.co.za/BlackJack.html" class="btn btn-danger">Go to Blackjack Game</a>     <!-- Link in new tab to hosted websites-->
        </div>
    </div>
    
    <div class="card text-end" style="width: 18rem; border-color: black;">
        <div class="card-body">
        <h5 class="card-title">Drones... Anything Drones...</h5>
        <p class="card-text">I would love to get involved with drone programming and developing the systems and procedures that drones will one day use.</p>
        <a target="_blank" href="https://www.dji.com/" class="btn btn-warning">DJI Drone Website</a>
        </div>
    </div>
    </div>
</div>
<div class="col-md-6" style="float: right; padding-right: 80px; padding-top: 20px; padding-bottom: 120px;">
    <h3>A delivery drone at work</h3>
    <img width="250px" height="800px" src="/Assets/images/drone.jpg" class="card-img-top" alt="...">
</div>
</div>