<!--FileName: "about.ejs"
//Name: "Ashley Turnbull"
//Student ID: 301190323
//Date: 2021-10-03
//About Section -->

<div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 18rem; float: left; margin-top: 20px; margin-left: 60px;">
                <div class="card" style="width: 18rem; background-color:black;">
                    <ul class="list-group list-group-flush">
                    <li style="font-size:x-large;" class="list-group-item">Name: Ashley Turnbull</li>
                    <li style="font-size: large;" class="list-group-item">I am a respectful, motivated and hard-working young man, who is both honest and reliable. I love working with code and technology, I enjoy being a competative gamer and I enjoy playing with new technology and gadgets</li>
                    </ul>
                </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem; float: none; margin-top: 20px;">
            <img src="/Assets/images/PicOfMe.jpeg" class="card-img-top" alt="...">
        </div>
    </div>
    <div style="margin-left: 60px;">
        <h3>Resume: Click to Download</h2>
        <a href="/Assets/documents/Ashley Turnbull updated cv.docx" download>
            <img style="width: 100px;" src="/Assets/images/download.png" alt="W3Schools">
        </a>
    </div>
</div>