<!--FileName: "services.ejs"
//Name: "Ashley Turnbull"
//Student ID: 301190323
//Date: 2021-10-03
//services Section -->

<div class="row" >
    <h3>Some of the services that we offer are:</h3>
    <div style="padding-top: 40px; font-weight: bolder; color: red; padding-bottom: 50px;" class="row justify-content-start">
      <div class="col-4">
        Web Development
    <img src="/Assets/images/webdesign.png" alt="" width="200" height="200">
      </div>
      <div class="col-4">
        Mobile Development
        <img src="/Assets/images/mobiledevelopment.png" alt="" width="200" height="200">
      </div>
    </div>
    <div style="font-style: italic; color: royalblue; font-size: x-large;" class="row justify-content-end">
      <div class="col-4">
        Website Design
        <img src="/Assets/images/design.jpg" alt="" width="200" height="200">
      </div>
      <div class="col-4">
        Website Maintenance
        <img src="/Assets/images/iwe-web-m1.png" alt="" width="200" height="200">
      </div>
    </div>
    <div style="font-size: x-large; color: green; padding-bottom: 20px;" class="row justify-content-around">
      <div class="col-4">
        Javascript
        <img src="/Assets/images/javascript.png" alt="" width="200" height="200">
      </div>
      <div class="col-4">
        Python
        <img src="/Assets/images/python.png" alt="" width="200" height="200">
    </div>
    </div>
    <div style="font-weight: bold; color: violet;" class="row justify-content-center">
        <div class="col-4">
          Scripting
          <img src="/Assets/images/scripting.jpg" alt="" width="200" height="200">
        </div>
        <div class="col-4">
          Automation of tasks
          <img src="/Assets/images/Task-Automation.png" alt="" width="200" height="200">
          
        </div>
      </div>
    <div style="font-weight: lighter; color:orange; font-size: x-large;" class="row justify-content-between">
      <div class="col-4">
        C#
        <img src="/Assets/images/C-Sharp.png" alt="" width="200" height="200">
      </div>
      <div class="col-4">
        Powershell
        <img src="/Assets/images/powershell.jpg" alt="" width="200" height="200">
    </div>
    </div>
    <div style="font-style: italic; color:cyan; font-size:xx-large;" class="row justify-content-evenly">
      <div class="col-4">
        Java
    <img src="/Assets/images/javajpg.jpg" alt="" width="200" height="200">
      </div>
      <div class="col-4">
        Jquery
      </div>
    </div>
    <h6 style="padding-top: 50px; padding-bottom: 50px;">and much much more...</h6>
  </div>